session-*/**/*.out
session-*/**/*.dvi
session-*/**/*.log
session-*/**/*.aux
session-*/**/*.bbl
session-*/**/*.blg
session-*/**/*.ind
session-*/**/*.fls
session-*/**/*.fdb_latexmk
session-*/**/*.idx
session-*/**/*.ilg
session-*/**/*.lof
session-*/**/*.lot
session-*/**/*.toc
session-*/**/*.nav
session-*/**/*.snm
session-*/**/*.vrb
session-*/**/*.synctex.gz
session-*/**/*-concordance.tex

/latex-math

/docs